@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500;600;700&display=swap');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Quicksand', sans-serif;
}
.bebas {
    font-family: 'Bebas Neue', cursive;
}
.zz {
    border: 2px solid red;
}
.z-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.z-center-down {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
img {
    width: 100%;
    border-radius: 4px;
}
a {
    text-decoration: none;
    color: unset;
}
nav {
    z-index: 1000;
    padding: 10px 0;
    position: sticky;
    top: 0;
    background: #0a0a0a;
    color: #f2f2f2;
    font-weight: 500;
}
nav.sticky {
    background: #0a0a0a;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
}
ul {
    padding: 0;
    list-style: none;
}
.owl-carousel .item {
    position: relative;
    z-index: 100;
}
.owl-nav>div {
    position: absolute;
    bottom: -20%;
    color: #cdcbcd;
    
}
.owl-nav i {
    font-size: 20px;
    color: #0a0a0a;

}
.owl-nav .owl-prev {
    right: 10%;
}
.owl-nav .owl-next {
    right: 4%;
}
/* heading  */
.heading h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin: 0;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-back {
    content: "";
    color: #252525;
    opacity: 0.1;
    font-size: 100px !important;
    z-index: -10;
    position: absolute;
    letter-spacing: 50px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
}
/* heading  */
/* navbar start */
.nav-logo-container {
    width: 60px;
}
.navigation ul li {
    padding: 10px 20px;
}
/* navbar end */
/* home start */
.home {
    overflow: hidden;
    height: 100%;
}
/* home end  */
/* feature section */
/* feature section */
/* essencial section  */
.gender-container {
    overflow: hidden;
}
.gender-container img {
    transition: .30s all ease;
    transform: scale(1);
}
.gender-container img:hover {
    transform: scale(1.1);
}
/* essencial section  */
/* banner section */
.product-card-2 {
    color: #252525;
    top: 15%;
    left: 5%;
    transform: translate(5%, 15%);
}
.product-card-2 h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    margin-top: 40px;
}
/* banner section */
/* product page */
.product-prod {
    position: relative;
}
.prod-content-container h5 {
    font-size: 18px;
}
.prod-content-container h6 {
    font-size: 14px;
}
.prod-content-container h6 {
    font-size: 14px;
}
.prod-content-container h2 {
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
}
.product-price-offer{
    color: #ff4545;
}
.offer-price{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.offer-price h4 {
    font-family: 'Bebas Neue', cursive;
    text-decoration: line-through;
}
/* product page */
/* footer start */
footer {
    background-color: #252525;
    color: #f2f2f2;
}
footer h3 {
    font-family: 'Bebas Neue', cursive;
}
footer ul li {
    font-size: 14px;
}
/* footer end  */