@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500;600;700&display=swap');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Quicksand', sans-serif;
}
:root {
    --main-color: #ff4545;
}
.bebas {
    font-family: 'Bebas Neue', cursive;
}
.zz {
    border: 2px solid red;
}
.z-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.z-center-down {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
img {
    width: 100%;
    border-radius: 4px;
}
a {
    text-decoration: none;
    color: unset;
}
nav {
    z-index: 1000;
    padding: 10px 0;
    position: sticky;
    top: 0;
    background: #0a0a0a;
    color: #f2f2f2;
    font-weight: 500;
}
nav.sticky {
    background: #0a0a0a;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
}
ul {
    padding: 0;
    list-style: none;
}
.owl-carousel .item {
    position: relative;
    z-index: 100;
}
.owl-nav>div {
    position: absolute;
    bottom: -20%;
    color: #cdcbcd;
}
.owl-nav i {
    font-size: 20px;
    color: #0a0a0a;
}
.owl-nav .owl-prev {
    right: 10%;
}
.owl-nav .owl-next {
    right: 4%;
}
/* button */
.z-button, .z-button-outline {
    position: relative;
    display: inline-block;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    transition: transform 0.3s;
    text-decoration: none;
}
.z-button-outline {
    border: 2px solid var(--main-color);
    background-color: transparent !important;
    color: #252525;
}
.z-button::before, .z-button-outline::before {
    content: '';
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ff8080;
    z-index: -1;
    transition: width 0.3s;
}
.z-button-outline::before {
    background-color: #ff4545;
}
.z-button:hover, .z-button-outline:hover {
    transform: translateX(10px);
    color: #fff !important;
}
.z-button:hover::before, .z-button-outline:hover::before {
    width: 100%;
}
/* button */
/* heading  */
.heading h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin: 0;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-back {
    content: "";
    color: #252525;
    opacity: 0.1;
    font-size: 100px !important;
    z-index: -10;
    position: absolute;
    letter-spacing: 50px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
}
/* heading  */
/* navbar start */
.nav-logo-container {
    width: 60px;
}
.navigation ul li {
    padding: 10px 20px;
}
.z-cart-quantity-nav {
    background-color: #ff4545;
    min-width: 15px;
    height: 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -8px;
    top: -5px;
    padding: 2px;
}
.z-cart-quantity-nav h6 {
    margin: 0 !important;
    font-size: 10px;
}
/* navbar end */
/* home start */
.home {
    overflow: hidden;
    height: 100%;
}
/* home end  */
/* feature section */
/* feature section */
/* essencial section  */
.gender-container {
    overflow: hidden;
}
.gender-container img {
    transition: .30s all ease;
    transform: scale(1);
}
.gender-container img:hover {
    transform: scale(1.1);
}
/* essencial section  */
/* banner section */
.product-card-2 {
    color: #252525;
    top: 15%;
    left: 5%;
    transform: translate(5%, 15%);
}
.product-card-2 h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    margin-top: 40px;
}
/* banner section */
/* product page */
.product-prod {
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}
.prod-content-container h5 {
    font-size: 18px;
}
.prod-content-container h6 {
    font-size: 14px;
}
.prod-content-container h6 {
    font-size: 14px;
}
.prod-content-container h2 {
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
}
.product-price-offer {
    color: #ff4545;
}
.offer-price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.home-product-content {
    font-family: 'Bebas Neue', cursive;
}
.offer-price h4 {
    font-family: 'Bebas Neue', cursive;
    text-decoration: line-through;
}
.product-search-container {
    position: relative;
}
.product-search-container .z-button {
    position: absolute;
    top: 9px;
    left: 15px;
    margin: 0 !important;
    background: none;
    border: none;
}
.product-search-container .product-search-input {
    width: 400px;
    padding: 7px 7px 7px 40px;
    border-radius: 20px;
}
.z-ajax-search-image {
    width: 20%;
}
.z--search-result, .nothing-found-ajax {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    /* background: #fff; */
}
#search-results {
    position: absolute;
    z-index: 10;
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.discover-product-ajax {
    padding: 20px;
}
.product-prod .actions {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    z-index: 3;
    transition: all ease 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 36px;
}
.product-prod .actions .icon-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    color: #252525;
    text-align: center;
    border-radius: 50%;
    transition: .30s all ease;
    opacity: 0;
    transform: translateX(40px);
}
.product-prod .actions .icon-btn:hover {
    background-color: #ff4545;
    color: #fff;
}
.product-prod:hover .actions .icon-btn {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
}
.product-prod .actions .icon-btn:nth-child(2) {
    transition-delay: 0s;
}
.product-prod .actions .icon-btn:nth-child(3) {
    transition-delay: 0.1s;
}
.product-prod .actions .icon-btn:nth-child(4) {
    transition-delay: 0.2s;
}
.product-prod .actions .icon-btn:nth-child(5) {
    transition-delay: 0.3s;
}
/* product page */
/* footer start */
footer {
    background-color: #000;
    color: #f2f2f2;
}
footer h3 {
    font-family: 'Bebas Neue', cursive;
}
footer ul li {
    font-size: 14px;
}
/* footer end  */
/* pagination page */
.step-links {
    display: flex;
}
.z-pagi-a {
    background-color: #252525;
    color: #fff;
    padding: 10px;
    display: flex;
    height: 40px;
    min-width: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin: 8px;
    border-radius: 5px;
}
.z-pagi-a.active {
    background-color: #ff4545;
}
/* pagination page */
/* product details */
.tab-container {
    margin-bottom: 20px;
}
.tab-menu {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    width: 100%;
    display: flex;
}
.tab-menu li {
    float: left;
    margin: 0;
    cursor: pointer;
    padding: 0px 21px;
    height: 31px;
    line-height: 31px;
    color: #ccc;
    overflow: hidden;
    position: relative;
    font-weight: 600;
}
.tab-menu li:hover {
    color: #333;
}
.tab-menu li.active {
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #fff;
    display: block;
}
.tab-content .tab-pane {
    display: none;
    padding: 10px;
}
.tab-content .active {
    display: block;
}
.tab-pane h6 {
    font-weight: 600;
}
.tab-pane h6 span {
    font-weight: 400;
}
/* product details */
/* cart page */
.cart-table tbody td {
    max-width: 250px;
    min-width: 100px;
    padding: 20px;
}
.cart-img-container-td {
    width: 120px;
}
.cart-img-container-td {
    width: 120px;
}
.cart-quantity-container {
    padding: 10px 10px;
    width: 100px;
}
.total-table tbody tr td {
    padding: 5px;
}
.cart-table thead td {
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
}
.quantity {
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* cart page */
/* login page */
.colored-section {
    background-color: #e5e5e5;
}
.login-form {
    background-color: #ffffff;
    position: relative;
    z-index: 10;
    border-radius: 8px;
}
.login-form h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}
.forgot-password h6 {
    font-weight: 600;
}
.orsignin {
    position: relative;
}
.orsignin h6::before {
    position: absolute;
    content: "";
    top: 50%;
    width: 20px;
    border: 1px solid rgb(0, 0, 0);
    left: -35px;
}
.orsignin h6::after {
    position: absolute;
    content: "";
    top: 50%;
    right: -35px;
    width: 20px;
    border: 1px solid rgb(0, 0, 0);
}
.login-with-google-btn {
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 12px 16px 12px 20px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    gap: 8px;
    background-color: white;
}
.login-with-google-btn img {
    width: 20px;
}
/* loginpage */
/* google input */
.form {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-wrapper {
    /* max-width: 360px; */
    width: 100%;
    position: relative;
}
.input {
    height: 50px;
    font-size: 16px;
    padding: 11px 15px;
    border-radius: 4px;
    border: 2px solid #CBD8E3;
    width: 100%;
    outline: none;
    box-sizing: border-box;
}
.placeholder {
    pointer-events: none;
    position: absolute;
    font-weight: 500;
    top: 13px;
    left: 8px;
    padding: 0 8px;
    background-color: white;
    border-radius: 5px;
    opacity: 1 !important;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: grey;
}
.input:not(:placeholder-shown).input:not(:focus)+.placeholder {
    transform: scale(.75) translateY(-36px) translateX(-15%);
    color: #252525;
    transition: .2s ease;
}
.input:focus {
    border-color: #252525;
}
.input:focus+.placeholder {
    transform: scale(.75) translateY(-36px) translateX(-15%);
    color: #252525;
    font-weight: 600;
    transition: .2s ease;
}
.input:invalid:not(:placeholder-shown) {
    transition: 0.2s ease;
    border-color: #252525;
}
.input:invalid:not(:placeholder-shown)+.placeholder {
    transition: 0.2s ease;
    color: #ff4545;
}
.input:invalid:not(:placeholder-shown).input:not(:focus)+.placeholder {
    transform: scale(.75) translateY(-36px) translateX(-15%);
    color: #252525;
    transition: 0.2s ease;
}
#show-hide-password i {
    font-size: 13px;
}
#show-hide-password {
    position: absolute;
    right: 10px;
    top: 26%;
    border: none;
    background-color: transparent;
}
/* google input */
/* signup page  */
.auth-form-z {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
/* signup page  */
/* chnages making after live */
.z-search-button {
    position: absolute;
    right: 5%;
    top: 20%;
    border: none;
    margin: 0 !important;
    background: transparent;
}
.mega-hover2:before {
    content: '';
    position: absolute;
    pointer-events: none;
    opacity: 1;
    z-index: 3;
    top: 0;
    right: 51%;
    bottom: 0;
    left: 50%;
    background: rgb(0 0 0 / 20%);
    -webkit-transform: skew(45deg);
    -ms-transform: skew(45deg);
    transform: skew(45deg);
}
.mega-hover2:hover:before {
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 900ms linear;
    transition: all 900ms linear;
}
.home-product-slider {
    width: calc(100% + 500px) !important;
    padding-left: 100px;
}
.title_deals {
    position: absolute;
    bottom: 2%;
    left: -15px;
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    transform: rotate(180deg);
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
    line-height: 0;
    text-align: left;
}
.title_deals .sub_title {
    font-size: 40px;
}
.title_deals p {
    margin-top: 0;
    margin-left: 59px;
}
.title_deals .title {
    font-size: 70px;
    display: block;
}
.home-product .item {
    position: relative;
}
.product--badge {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}
.product--badge .badge--sale-pt {
    background: #ff4545;
    display: flex;
    color: #fff !important;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    padding: 5px 14px;
    border-radius: 20px;
}
.product-price-offer {
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
}
/* black friday sale */
.black-friday-section {
    background-color: #000;
    color: #fff;
}
.owl-nav.disabled {
    display: block !important;
}
.floating-shoes-section {
    background: linear-gradient(180deg, #000000 50%, rgba(255, 255, 255, 1) 50%);
}
.floating-card {
    background-color: var(--main-color);
    height: 350px;
    width: 85%;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.floating-card::before {
    position: absolute;
    top: -40px;
    left: -31px;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #ffffff;
    z-index: -2;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(33, 37, 41, .15) !important;
}
.z-custom-top-padding {
    padding-top: 80px !important;
    padding-right: 0 !important;
    padding-left: 80px;
    padding-bottom: 30px;
}
.floating-card-img-container {
    width: 70%;
    position: absolute;
    top: 65%;
    left: 20%;
    transform: translate(-20%, -50%);
}
.floating-card-content-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    height: 100%;
    right: 36px;
    z-index: 3;
    writing-mode: tb-rl;
    transform: rotate(180deg);
    overflow: hidden;
}
.floating-card-button {
    width: 46px;
    height: 46px;
    min-height: 46px;
    line-height: 46px;
    font-size: 18px;
    color: #919191;
    text-align: center;
    transition: 0.4s cubic-bezier(0.39, 0.58, 0.57, 1);
    border-radius: 100%;
    transform: rotate(-180deg);
    margin-bottom: 1.5rem;
    margin-top: -60px;
    opacity: 0;
    color: #ffffff;
    background-color: #000000;
}
.floating-card-content-container h2 {
    color: #9b9b9b;
    opacity: .4;
    transition: .30s all ease;
}
.floating-card:hover .floating-card-button {
    opacity: 1;
    margin-top: 20px;
    transform: rotate(180deg);
    transition: .30s all ease;
}
.floating-card:hover .floating-card-content-container h2 {
    opacity: 1;
    transition: .30s all ease;
}
.bf-carousel .owl-dots {
    display: none;
}
.bf-carousel .owl-nav i {
    font-size: 20px;
    color: #fff;
}
.bf-carousel .owl-nav i {
    font-size: 20px;
    color: #fff;
}
.bf-carousel .owl-nav .owl-prev {
    left: -30px;
}
.bf-carousel .owl-nav .owl-next {
    right: -30px;
}
.bf-carousel .owl-nav>div {
    position: absolute;
    top: 15% !important;
    color: #cdcbcd;
}
.bf-carousel h4 {
    color: var(--main-color);
}
.home-product .owl-nav>div {
    bottom: unset !important;
    top: -17%;
}
.home-product .owl-nav i {
    font-size: 30px;
}
.home-product .owl-nav .owl-prev {
    right: 33%;
}
.home-product .owl-nav .owl-next {
    right: 30%;
    left: unset !important;
}
/* black friday sale */
/* grid-section */
.block-product {
    position: relative;
}
.block-product .name {
    top: 2.5rem;
    left: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
}
.block-product .price {
    bottom: 24px;
    right: 24px;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
}
.block-product .price i {
    font-size: 16px;
}
.block-product .price a {
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 100%;
    margin-left: 20px;
}
.z-grid-btn-1 {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
}
.z-grid-banner {
    overflow: hidden;
    transform: translateZ(0);
}
.z-grid-banner::after {
    content: "";
    display: inline-block;
    width: 150%;
    height: 80%;
    position: absolute;
    top: -75%;
    right: 32%;
    background: rgba(255, 255, 255, 0.15);
    transform: skewY(-50deg);
    transition: all 0.35s ease;
}
.z-grid-banner:hover:after {
    top: 120%;
    right: -75%;
    transition: all 0.35s ease;
}
/* grid-section */
/* policy term  */
.policy__item--content {
    position: relative;
}
.policy-icon {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #ffffff no-repeat center;
    background-size: cover;
    margin-bottom: 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.policy-icon img {
    max-width: 90px;
    max-height: 30px;
    width: unset;
}
.policy-heding h6 {
    max-width: 500px;
    text-align: center;
    padding: 0 10px;
}
.policy__item--content:hover img {
    animation: policy 1.2s linear;
}
@keyframes policy {
    16.65% {
        transform: translateX(7px);
    }
    33.33% {
        transform: translateX(-5px);
    }
    49.95% {
        transform: translateX(3px);
    }
    66.6% {
        transform: translateX(-2px);
    }
    83.25% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(0);
    }
}
/* policy term  */
/* marque section*/
.distance {
    background-color: #000;
}
.marque-section .block-scroll {
    animation-duration: 48s;
    -webkit-animation-name: slider;
    animation-name: slider;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
@keyframes slider {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.marque-section .block-scroll__item {
    margin-right: 3rem;
    position: relative;
    white-space: nowrap;
}
.marque-section .item-content {
    position: relative;
}
.marque-section .zmdi {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.marque-section .title {
    color: #f2f2f2;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 0px;
    text-transform: uppercase;
}
.marque-section i{
    color: #f2f2f2;
}
.marque-section .item-content:after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #f2f2f2;
    margin-left: 3rem;
}
/* marque section*/