{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
  <div class="container">
    <div class="heading row">
      <div class="col-lg-12 z-center-down position-relative  py-5">
        <h2 class="heading-back">Products</h2>
        <h2>Cart</h2>
        <h6>SHOES</h6>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row pb-5">
      <div class="col-lg-12">
        <table class="w-100 cart-table">
          <thead>
            <td>&nbsp;</td>
            <td>Product</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Amount</td>
            <td>&nbsp;</td>

          </thead>
          <tbody>
            {% for item in cart_items %}
            <tr data-z-cart-id="{{item.id}}">
              <td class="cart-img-container-td">
                <div class="cart-img-container">
                  <img src="/media/{{ item.product.product_image}}" alt="">

                </div>
              </td>
              <td>
                <h5>{{ item.product.product_title }}</h5>
              </td>
              <td>
                <h5>${{ item.product.product_price}}</h5>
              </td>
              <td class="p-0">

                <div class="z-center justify-content-start">
                  {% comment %} <a href="{% url 'addCart' item.id %}">hello</a> {% endcomment %}
                  <button id="minus_{{item.product.product_id}}" data-cart-id="{{item.id}}" class="z-pagi-a">-</button>
                  <h5 id="testdiv_{{item.id}}" class="m-0 quantity">{{ item.quantity }}</h5>
                  <button id="add_{{item.product.product_id}}" data-cart-id="{{item.id}}" class="z-pagi-a">+</button>
                </div>
                
              </td>
              <td>
                <h5 id="cart-price-{{item.id}}">${{ item.total_price }} </h5>
              </td>
              <td class="cart-delete-button">
                x
              </td>
              
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="row d-flex justify-content-end">
          <div class="col-lg-7"></div>
          <div class="col-lg-5">
            <table class="w-100 total-table">
              <thead>
                <tr>
                  <td>
                    <h4>Cart Total</h4>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Subtotal</td>
                  <td class="subtotal">${{subtotal}}</td>
                </tr>
                <tr>
                  <td>Shipping</td>
                  <td>$0.00</td>
                </tr>
                <tr>
                  <td>State Tax</td>
                  <td>$0.00</td>
                </tr>
                <tr>
                  <td class="cart-total">
                    <h4>TOTAL</h4>
                  </td>
                  <td>
                    <h4 class="subtotal">${{subtotal}}</h4>
                  </td>
                </tr>
              </tbody>
            </table>

            <form action="" class="z-center pt-4">
              <button class="z-button w-100">Proceed</button>
            </form>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock content %}