{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <img src="{% static 'images/main-banner.svg' %}" alt="">
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container-fluid">
        <div class="heading row">
            <div class="col-lg-12 z-center-down position-relative py-5">
                <h2 class="heading-back">Products</h2>
                <h2>Feature2</h2>
                <h6>Mens</h6>
            </div>
        </div>
        <div class="row row-cols-3">
            <div class="col">
                <div class="feature-card z-center-down gap-3">
                    <div>
                        <img src="{% static 'images/feature-1.webp' %}" alt="">
                    </div>
                    <h2 class="bebas">Look & Feel As Fast As Can Be</h2>
                </div>
            </div>
            <div class="col">
                <div class="feature-card z-center-down gap-3">
                    <div>
                        <img src="{% static 'images/feature-2.webp' %}" alt="">
                    </div>
                    <h2 class="bebas">Fashionably Fresh</h2>
                </div>
            </div>
            <div class="col">
                <div class="feature-card z-center-down gap-3">
                    <div>
                        <img src="{% static 'images/feature-3.webp' %}" alt="">
                    </div>
                    <h2 class="bebas">An Air Max for Everyone</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="black-friday-section mt-5">
    <div class="container">
        <div class="row py-4">
            <div class="col-lg-12">
                <div class="carousel-wrap">
                    <div class="owl-carousel bf-carousel ">
                        <div class="item">
                            <div class="z-center gap-3">
                                <h4 class="m-0 bebas">Free delivery</h4>
                                <h6 class="m-0">To First-Time customers only, U.S Customers or Order over $200</h6>
                                <div class="d-flex">
                                    <a href="#" class="z-button">View More</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="z-center gap-3">
                                <h4 class="m-0 bebas">Black Friday Deals 2024</h4>
                                <h6 class="m-0">The biggest sales event of the year is coming up and you don’t want to
                                    miss it. </h6>
                                <div class="d-flex">
                                    <a href="#" class="z-button">View More</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="floating-shoes-section mb-5">
    <div class="container-fluid">
        <div class="row  z-custom-top-padding">
            <div class="col-lg-4  p-0">
                <div class="floating-card">
                    <div class="floating-card-img-container">
                        <img src="{% static 'images/floating-img-1.png' %}" alt="" title="">
                    </div>
                    <div class="floating-card-content-container">
                        <div class="d-flex">
                            <a href="#" class="floating-card-button"><i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                        <h2 class="bebas fs-1">RUNNING SHOES</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  p-0">
                <div class="floating-card">
                    <div class="floating-card-img-container">
                        <img src="{% static 'images/floating-img-2.png' %}" alt="" title="">
                    </div>
                    <div class="floating-card-content-container">
                        <div class="d-flex">
                            <a href="#" class="floating-card-button"><i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                        <h2 class="bebas fs-1">TRAINER SNEAKER</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  p-0">
                <div class="floating-card">
                    <div class="floating-card-img-container">
                        <img src="{% static 'images/floating-img-3.png' %}" alt="" title="">
                    </div>
                    <div class="floating-card-content-container">
                        <div class="d-flex">
                            <a href="#" class="floating-card-button"><i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                        <h2 class="bebas fs-1">CLASSIC SHOES</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="overflow-hidden py-5">
    <div class="container container-right">
        <div class="row py-5">
            <div class="col-lg-12">
                <div class="heading home-product-slider d-flex align-items-center gap-4">
                    <h2 class="justify-content-start fs-2">FLASH SALE</h2>
                    <hr class="" style="width: 55%">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="carousel-wrap home-product-slider d-flex position-relative">
                    <div class="title_deals d-none d-sm-block">
                        <span class="sub_title" style="color: #d5d5d5">
                            <p>DAILY DEALS</p>
                        </span>
                        <span class="title" style="color: #d5d5d5">
                            <p>FLASH SALE</p>
                        </span>
                    </div>
                    <div class="owl-carousel home-product">
                        {% for product in homeProduct %}
                        <div class="item">
                            <a href="{% url 'productDetails' product_id=product.product_id %}">
                                <div class="product-prod ">
                                    {% if product.product_offer_price %}
                                    <div class="product--badge">
                                        <span class="badge badge--sale-pt"><i
                                                class="fa-solid fa-bolt"></i>&nbsp;-9%</span>
                                    </div>
                                    {% endif %}
                                    <div class="">
                                        <div>
                                            <img src="{{product.product_image}}">
                                            <div class="actions">
                                                <form method="POST" action="{% url 'add_to_cart' product.product_id %}">
                                                    {% csrf_token %}
                                                    <div class="d-flex">
                                                        <button type="submit" class="icon-btn" style="border: none;"><i
                                                                class="fa-solid fa-cart-shopping"></i></button>
                                                    </div>
                                                </form>
                                                <a href="" class="icon-btn"><i class="fa-solid fa-heart"></i></a>
                                                <a href="" class="icon-btn popup-content"><i
                                                        class="fa-solid fa-eye"></i></a>
                                                <a href="" class="icon-btn"><i class="fa-solid fa-chart-simple"></i></a>
                                            </div>
                                        </div>
                                        <div class="home-product-content z-center-down p-3 gap-3">
                                            <h5>{{product.product_title}}</h5>
                                            <div class="z-center">
                                                <div>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-star-half"></i>
                                                </div>
                                            </div>
                                            {% if product.product_offer_price %}
                                            <div class="offer-price">
                                                <h2 class="product-price-offer">${{product.product_offer_price}}</h2>
                                                <h4>${{product.product_price}}</h4>
                                            </div>
                                            {% else %}
                                            <h2>${{product.product_price}}</h2>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-lg-12 heading text-center mega-hover2 position-relative overflow-hidden">
                <img src="{% static 'images/banner.avif' %}" alt="">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="heading row">
            <div class="col-lg-12 z-center-down position-relative py-5">
                <h2 class="heading-back">OUTFIT</h2>
                <h2>the essential</h2>
                <h6>PRODUCTS</h6>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4">
                <div class="gender-container">
                    <img src="{% static 'images/gender.webp' %}" alt="">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="gender-container">
                    <img src="{% static 'images/gender2.webp' %}" alt="">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="gender-container">
                    <img src="{% static 'images/gender3.webp' %}" alt="">
                </div>
            </div>

        </div>
    </div>
</section>
<section class="home-grid-section">
    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-lg-6 overflow_hidden">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="block-product" style="border-bottom: 1px solid #ccc">
                            <div class="name bebas">Air Griffey 1 Max</div>
                            <div class="price d-flex align-items-center bebas">
                                <h3 class="m-0">FROM $44,99</h3><a href="#"><i
                                        class="fa-solid fa-chevron-right"></i></a>
                            </div>
                            <div class="respone_image">
                                <img src="https://similux-jewelry.myshopify.com/cdn/shop/files/img-7_380x.jpg?v=1681806334"
                                    alt="" title="">
                            </div>
                        </div>
                        <div class="block-product">
                            <div class="name bebas">Air Griffey 1 Max</div>
                            <div class="price d-flex align-items-center bebas">
                                <h3 class="m-0">FROM $44,99</h3><a href="#"><i
                                        class="fa-solid fa-chevron-right"></i></a>
                            </div>
                            <div class="respone_image">
                                <img src="https://similux-jewelry.myshopify.com/cdn/shop/files/img-8_380x.jpg?v=1681809475"
                                    alt="" title="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0 position-relative overflow_hidden">
                        <div class="position-relative z-grid-banner">
                            <div>
                                <img src="https://similux-jewelry.myshopify.com/cdn/shop/files/img-9_380x.jpg?v=1681805517"
                                    alt="" title="">
                            </div>
                            <div class="d-flex z-grid-btn-1">
                                <a href="#" class="z-button">hello</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12 p-0 position-relative overflow_hidden">
                        <div class="position-relative z-grid-banner">
                            <div>
                                <img src="https://similux-jewelry.myshopify.com/cdn/shop/files/img-10_768x.jpg?v=1681805517"
                                    alt="" title="" style="height: 309px;">
                            </div>
                            <div class="d-flex z-grid-btn-1">
                                <a href="#" class="z-button">hello</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 overflow_hidden">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="block-product" style="border-right: 1px solid #ccc">
                            <div class="name bebas">Air Griffey 1 Max</div>
                            <div class="price d-flex align-items-center bebas">
                                <h3 class="m-0">FROM $44,99</h3><a href="#"><i
                                        class="fa-solid fa-chevron-right"></i></a>
                            </div>
                            <div class="respone_image">
                                <img src="https://similux-jewelry.myshopify.com/cdn/shop/files/img-7_380x.jpg?v=1681806334"
                                    alt="" title="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="block-product">
                            <div class="name bebas">Air Griffey 1 Max</div>
                            <div class="price d-flex align-items-center bebas">
                                <h3 class="m-0">FROM $44,99</h3><a href="#"><i
                                        class="fa-solid fa-chevron-right"></i></a>
                            </div>
                            <div class="respone_image">
                                <img src="https://similux-jewelry.myshopify.com/cdn/shop/files/img-8_380x.jpg?v=1681809475"
                                    alt="" title="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 p-0 position-relative overflow_hidden">
                        <div class="z-grid-banner">
                            <div>
                                <img src="https://similux-jewelry.myshopify.com/cdn/shop/files/banner_768x.jpg?v=1682510657"
                                    alt="" title="">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="heading row">
            <div class="col-lg-12 z-center-down position-relative py-5">
                <h2 class="heading-back"></h2>
                <h2>Popular Brands</h2>
                <h6>Mens</h6>
            </div>
        </div>
        <div class="row pb-5 mb-4">
            <div class="col-lg-12 heading text-center">
                <div class="carousel-wrap">
                    <div class="owl-carousel home-product">
                        <div class="item">
                            <img src="{% static 'images/nike-1.webp' %}" />
                        </div>
                        <div class="item">
                            <img src="{% static 'images/nike-2.webp' %}" />
                        </div>
                        <div class="item">
                            <img src="{% static 'images/nike-3.webp' %}" />
                        </div>
                        <div class="item">
                            <img src="{% static 'images/nike-4.webp' %}" />
                        </div>
                        <div class="item">
                            <img src="{% static 'images/nike-5.webp' %}" />
                        </div>
                        <div class="item">
                            <img src="{% static 'images/nike-6.jfif' %}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="overflow-hidden py-5">
    <div class="container container-right">
        <div class="row py-5">
            <div class="col-lg-12">
                <div class="heading home-product-slider d-flex align-items-center gap-4">
                    <h2 class="justify-content-start fs-2">FLASH SALE</h2>
                    <hr class="" style="width: 55%;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="carousel-wrap home-product-slider d-flex position-relative">
                    <div class="title_deals d-none d-sm-block">
                        <span class="sub_title" style="color: #d5d5d5">
                            <p>DAILY DEALS</p>
                        </span>
                        <span class="title" style="color: #d5d5d5">
                            <p>FLASH SALE</p>
                        </span>
                    </div>
                    <div class="owl-carousel home-product">
                        {% for product in homeProduct %}
                        <div class="item">
                            <a href="{% url 'productDetails' product_id=product.product_id %}">
                                <div class="product-prod ">
                                    {% if product.product_offer_price %}
                                    <div class="product--badge">
                                        <span class="badge badge--sale-pt"><i
                                                class="fa-solid fa-bolt"></i>&nbsp;-9%</span>
                                    </div>
                                    {% endif %}
                                    <div class="">
                                        <div>
                                            <img src="{{product.product_image}}">
                                            <div class="actions">
                                                <form method="POST" action="{% url 'add_to_cart' product.product_id %}">
                                                    {% csrf_token %}
                                                    <div class="d-flex">
                                                        <button type="submit" class="icon-btn" style="border: none;"><i
                                                                class="fa-solid fa-cart-shopping"></i></button>
                                                    </div>
                                                </form>
                                                <a href="" class="icon-btn"><i class="fa-solid fa-heart"></i></a>
                                                <a href="" class="icon-btn popup-content"><i
                                                        class="fa-solid fa-eye"></i></a>
                                                <a href="" class="icon-btn"><i class="fa-solid fa-chart-simple"></i></a>
                                            </div>
                                        </div>
                                        <div class="home-product-content z-center-down p-3 gap-3">
                                            <h5>{{product.product_title}}</h5>
                                            <div class="z-center">
                                                <div>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-star"></i>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-star-half"></i>
                                                </div>
                                            </div>
                                            {% if product.product_offer_price %}
                                            <div class="offer-price">
                                                <h2 class="product-price-offer">${{product.product_offer_price}}</h2>
                                                <h4>${{product.product_price}}</h4>
                                            </div>
                                            {% else %}
                                            <h2>${{product.product_price}}</h2>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container-fluid overflow-hidden">
        <div class="heading row">
            <div class="col-lg-12 z-center-down position-relative py-5 ">
                <h2 class="heading-back">CASUAL</h2>
                <h2>best seller</h2>
                <h6>PRODUCTS</h6>
            </div>
        </div>
        <div class="row py-3">

            <div class="col-lg-4">
                <div class="gender-container">
                    <img src="{% static 'images/nike3ad02.png' %}" alt="">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="gender-container">
                    <img src="{% static 'images/nike3ad03.png' %}" alt="">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="gender-container">
                    <img src="{% static 'images/nike3ad01.png' %}" alt="">
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 position-relative">
                <div class="mega-hover2 position-relative overflow-hidden">
                    <img src="{% static 'images/nikebanner.jpg' %}" alt="">
                </div>
                <div class="product-card-2 position-absolute">
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <h2>Retro Favorites</h2>
                                <h6>Level up your sneaker rotation with top selling Jordan Retros.</h6>
                            </div>
                            <div class="d-flex pt-4">
                                <a href="#" class="z-button">Add To Cart</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-4">
                <div class="policy__item--content text-md-center z-center-down overflow_hidden h-100">
                    <div class="policy-icon">
                            <img src="https://similux-jewelry.myshopify.com/cdn/shop/files/p-10_200x.png?v=1681872656"
                                alt="" title="">
                    </div>
                    <div class="policy-heding">

                        <h2 class="bebas">Lorem, ipsum dolor.</h2>
                        <h6 class="mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, maiores?</h6>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="policy__item--content text-md-center z-center-down overflow_hidden h-100">
                    <div class="policy-icon">
                            <img src="https://similux-jewelry.myshopify.com/cdn/shop/files/p-8_200x.png?v=1681872685"
                                alt="" title="">
                    </div>
                    <div class="policy-heding">

                        <h2 class="bebas">Lorem, ipsum dolor.</h2>
                        <h6 class="mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, maiores?</h6>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="policy__item--content text-md-center z-center-down overflow_hidden h-100">
                    <div class="policy-icon">
                       
                            <img src="	https://similux-jewelry.myshopify.com/cdn/shop/files/p-12_200x.png?v=1681872701"
                                alt="" title="">
                      
                    </div>
                    <div class="policy-heding">

                        <h2 class="bebas">Lorem, ipsum dolor.</h2>
                        <h6 class="mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, maiores?</h6>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


{% endblock content %}