{% extends 'base.html' %}
{% load socialaccount %}

{% load static %}


{% block content %}
<section class="colored-section position-relative overflow-hidden">
    <div class="container">
        <div class="row py-5 z-center">
            <div class="position-absolute">
                <img src="/static/images/login.gif" class="w-50" alt="">
            </div>
            <div class="col-lg-5 ">
                <div class="login-form py-5 px-5 text-center">
                    <div>
                        <h3>Login</h3>
                        <h5>Hello, Please enter your details to get sign in
                            to your account</h5>
                    </div>
                    <div class="position-relative">
                        <form class="form" method="post">
                            {% csrf_token %}
                            <div class="auth-form-z mt-5">
                                <div class="input-wrapper">
                                    <input class="input" name="username" type="text" placeholder=" " id="logininput"
                                        data-placeholder="username" required>
                                    <span class="placeholder">Username</span>
                                </div>
                                <div class="input-wrapper">
                                    <input class="input" name="password" type="password" placeholder=" " id="login-password"
                                        data-placeholder="password" required>
                                    <span class="placeholder">Password</span>
                                    <button type="button" id="show-hide-password"><i
                                            class="fa-regular fa-eye-slash"></i></button>
                                </div>
                            </div>
                            <div class="forgot-password w-100">
                                <h6 class="text-start ps-1 mb-4 mt-2">
                                    <a href="#">
                                        Having trouble in sign in?
                                    </a>
                                </h6>
                            </div>
                            <div class="submit-login mt-3">
                                <input type="submit" class="z-button px-5" style="border:none" value="Login">
                            </div>
                            <div class="forgot-password orsignin">
                                <h6 class="my-4">
                                    <a href="#">
                                        Or Sign in with
                                    </a>
                                </h6>
                            </div>
                            <div>
                                
                                <a href="{% comment %} {% provider_login_url 'google' %} {% endcomment %}" class="login-with-google-btn">
                                    <img src="/static/images/google-logo.png" alt="">
                                    Sign in with Google
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>







{% comment %} <h1>Django Allauth Tutorial</h1>
{% if user.is_authenticated %}

<p>Welcome {{ user.username }} !!!</p>
{% else %}
<a href="{% provider_login_url 'google' %}">Sign Up</a>
{% endif %} {% endcomment %}

{% endblock content %}