{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container">
        <div class="heading row">
            <div class="col-lg-12 z-center-down position-relative py-5">
                <h2 class="heading-back">PRODUCTS</h2>
                <h2>SHOES</h2>
                <h6>MENS WEAR</h6>
            </div>
        </div>
    </div>
</section>
<section class="hey product-section">
    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-12">
                <div class="row row-cols-4">


                    {% for product in products %}
                    <div class="col">
                        <a href="{{product.product_id}}">
                            <div class="product-prod p-1">
                                <div class="prod-img-container">
                                    <img src="/media/{{product.product_image}}" alt="">
                                </div>
                                <div class="prod-content-container py-4">
                                    <h5>{{product.product_title}}</h5>
                                    <h6>Men's Tennis Shoes</h6>
                                    <h6>1 Colour</h6>
                                    {% if product.product_offer_price %}
                                    <div class="offer-price">
                                        <h2 class="product-price-offer">${{product.product_offer_price}}</h2>
                                        <h4>${{product.product_price}}</h4>
                                    </div>
                                    {% else %}
                                    <h2>${{product.product_price}}</h2>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>
        {% include 'pagination.html' %}
        {% block pagination %}
        {% endblock %}
    </div>
</section>
{% endblock content %}