{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container">
        <div class="heading row">
            <div class="col-lg-12 z-center-down position-relative py-5">
                <h2 class="heading-back">PRODUCTS</h2>
                <h2>SHOES</h2>
                <h6>MENS WEAR</h6>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 ">
                <div class="product-details-img-container">
                    <img src="/media/{{singleProduct.product_image}}" alt="">
                    <div class="row z-center py-4">
                        <di class="col-lg-2">
                            <img src="/media/{{singleProduct.product_image}}" alt="">
                        </di>
                        <di class="col-lg-2">
                            <img src="/media/{{singleProduct.product_image}}" alt="">
                        </di>
                        <di class="col-lg-2">
                            <img src="/media/{{singleProduct.product_image}}" alt="">
                        </di>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 py-5 px-5">
                <div class="product-details-content ">
                    <h2 class="fw-semibold">{{singleProduct.product_title}}</h2>
                    <h2 class="price">
                        {{singleProduct.product_price}}
                    </h2>
                    <h6>Avilability: <span>In Stock</span></h6>
                </div>
                <div class="product-details-desc py-4">
                    <p>{{singleProduct.product_description | safe}}
                    </p>
                </div>
                <div class="product-details-button-container d-flex gap-3">
                    <button class="z-button">
                        ADD TO CART
                    </button>
                    <button class="z-black-outline-btn px-4">
                        FAVOURITE
                    </button>
                </div>
                <div class="tab-container mt-5">
                    <ul class="tab-menu">
                        <li class="active">Tab 1</li>
                        <li>Tab 2</li>
                        <li>Tab 3</li>
                    </ul>
                    <div class="pt-5 px-2">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <h3>Hello</h3>
                                <p>{{singleProduct.product_description | safe}}</p>
                            </div>
                            <div class="tab-pane">
                                <h3>Hello</h3>
                                <div class="">
                                    <h6>Color: <span>Blue, Purple</span></h6>
                                    <h6>Size: <span>150x100x100</span></h6>
                                    <h6>Weight: <span> 0.6kg</span></h6>
                                    <h6>Avilability: <span>In Stock</span></h6>
                                    <h6>Manifacturer: <span>Manifacturer</span></h6>
                                </div>

                            </div>
                            <div class="tab-pane">
                                <h3>Hello</h3>
                                <div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora optio facere cupiditate. Nisi, quidem animi fugiat quibusdam enim molestias asperiores accusantium rerum totam nostrum error praesentium fugit numquam sequi explicabo.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="heading row">
            <div class="col-lg-12 z-center-down position-relative py-5">
                <h2 class="heading-back">PRODUCTS</h2>
                <h2>Related</h2>
                <h6>MENS WEAR</h6>
            </div>
        </div>
        {% include 'related-product.html' %}
        {% block relatedproduct %}
        {% endblock relatedproduct %}
    </div>
</section>



{% endblock content %}