{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container">
        <div class="heading row">
            <div class="col-lg-12 z-center-down position-relative py-5">
                <h2 class="heading-back">PRODUCTS</h2>
                <h2>SHOES</h2>
                <h6>MENS WEAR</h6>
            </div>
        </div>
    </div>
</section>
<section class="hey product-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex align-items-center justify-content-between py-5">
                <div>
                    {% if searchedproducts %}
                    <h5>Search results for <span>{{searchedKeyword}} ({{searchedproducts | length}})</span></h5>
                    {% endif %}
                </div>
                <div class="position-relative">
                    <form action="/product/" method="post">
                        {% csrf_token %}
                        <div class="product-search-container">
                            <input type="text" placeholder="Search products..." name="product-search-input" id="searchbar"  value="{{searchedKeyword}}" class="product-search-input" >
                            <button class="z-button my-4" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                    <div class="shadow rounded" id="search-results"></div>
                </div>
            </div>
            
        </div>
        <div class="row position-relative">
            <div class="col-lg-12">
                <div class="row row-cols-4">
                    {% include "searched-products.html" %}
                    {% block searchBlock %}
                    {% endblock searchBlock %}

                    {% for product in products %}
                    <div class="col">
                        <a href="{% url 'productDetails' product_id=product.product_id %}">
                            <div class="product-prod p-1">
                                <div class="prod-img-container">
                                    <img src="{{product.product_image}}" alt="">
                                </div>
                                <div class="prod-content-container py-4">
                                    <h5>{{product.product_title}}</h5>
                                    <h6>Men's Tennis Shoes</h6>
                                    <h6>1 Colour</h6>
                                    {% if product.product_offer_price %}
                                    <div class="offer-price">
                                        <h2 class="product-price-offer">${{product.product_offer_price}}</h2>
                                        <h4>${{product.product_price}}</h4>
                                    </div>
                                    {% else %}
                                    <h2>${{product.product_price}}</h2>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}


                </div>
                {% if searchedproducts != None %}
                <div class="row z-center">
                    <div class="col-lg-6 pb-5 text-center">
                        <h2 class="py-4 ">We could not find anything for "{{searchedKeyword}}".</h2>
                        <img src="{% static 'images/nothingFound.gif' %}" alt="" class="w-100">

                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% include 'pagination.html' %}
        {% block pagination %}
        {% endblock %}
    </div>
</section>
{% endblock content %}